.post{
    border:2px solid gray;
    margin-bottom: 25px;
    font-size: 18px;;
    font-weight: bold;
    color:rgb(96, 96, 89);
    padding:7px 0px 7px 5px;
    box-shadow: 5px 5px 5px 2px rgb(126, 119, 76);

}


